
span {
    padding-top: 8px;
    padding-bottom: 8px;
    padding-left: 5px;
    padding-right: 5px;
    min-width: 100%;
}

.logs {
    user-select: text;
}

.error {
    background-color: #ff0000;
}

.error .open {
    background-color: #e70000;
}

.warn {
    background-color: #e9be00;
}

.warn .open {
    background-color: #d4ad00;
}

.log {
    background-color: #85858535;
}

.log .open {
    background-color: #858585c7;
}
