ion-button {
     --border-radius: 55px;
     text-transform: none;
     width:70%;
     
    // font-family: "Varela";
    // --font-family: "Varela";
}

.detail-container {
    text-align: center;
}