<ion-header>
	<ion-toolbar class="top">
		<ion-buttons slot="start" class="modal-buttons">
			<ion-button (click)="closeModal()">
				<ion-icon size="large" name="close-outline"></ion-icon>
			</ion-button>
		</ion-buttons>
		<ion-title [ngStyle]="{'opacity': currentY | fadeinpipe: 210 : 35 }">Premium</ion-title>
	</ion-toolbar>
</ion-header>

<ion-content [scrollEvents]="true" (ionScroll)="onScroll($event)">
	<ion-list class="status">
		<div lines="none" class="status-container">
			<div class="slide-container">
				<ion-icon class="status-icon" name="ribbon-outline" [ngStyle]="{'opacity': currentY | fadeoutpipe: 50 }"> </ion-icon>
				<br />
				<ion-label class="subtitle white" [ngStyle]="{'opacity': currentY | fadeoutpipe: 94 }">Support open source. </ion-label>
			</div>
		</div>
	</ion-list>

	<div class="packages" *ngIf="merchant.PACKAGES.length > 1">
		<ion-segment [(ngModel)]="renewalFrame" (ionChange)="monthlyYearlySwitch()" value="monthly" mode="md">
			<ion-segment-button value="monthly">
				<ion-label class="white" [ngStyle]="{'opacity': currentY | fadeoutpipe: 140 }">Monthly</ion-label>
				<ion-label class="white smallest-info segment-label" [ngStyle]="{'opacity': currentY | fadeoutpipe: 160 }">Try it out</ion-label>
			</ion-segment-button>
			<ion-segment-button value="yearly">
				<ion-label class="white" [ngStyle]="{'opacity': currentY | fadeoutpipe: 140 }">Yearly</ion-label>
				<ion-label class="white smallest-info segment-label" [ngStyle]="{'opacity': currentY | fadeoutpipe: 160 }">Save up to 20%</ion-label>
			</ion-segment-button>
		</ion-segment>

		<div *ngIf="renewalFrame == 'monthly'">
			<div
				*ngFor="let package of merchant.getMonthlyBilledPackages();"
				class="package"
				(click)="changeSelectedPackage(package)"
				[class]="equalPackage(selectedPackage(), package) ? 'packages-selected' : ''">
				<div class="slide-container package-inner">
					<ion-label class="pkg-name white">{{ package.name }}</ion-label>
					<ion-label class="pkg-price white">{{ package.price }} / m </ion-label>
					<ion-label class="pkg-price-yearly white">{{ calculateYearlyPrice(package) }} / y</ion-label>
				</div>
			</div>
		</div>
		<div *ngIf="renewalFrame == 'yearly'">
			<div
				*ngFor="let package of merchant.getYearlyBilledPackages();"
				class="package"
				(click)="changeSelectedPackage(package)"
				[class]="equalPackage(selectedPackage(), package) ? 'packages-selected' : ''">
				<div class="slide-container package-inner">
					<ion-label class="pkg-name white">{{ package.name }}</ion-label>
					<ion-label class="pkg-price white">{{ calculateMonthlyPrice(package) }} / m </ion-label>
					<ion-label class="pkg-price-yearly white">{{ package.price }} / y</ion-label>
				</div>
			</div>
		</div>
	</div>

	<div style="background-color: var(--ion-background-color)">
		<app-full-page-loading [loading]="!products() && online">
			<app-full-page-offline (retry)="this.ngOnInit()" [online]="online">
				<ion-list class="first-item-group">
					<ion-list-header>
						<ion-label>General</ion-label>
					</ion-list-header>
					<ion-item lines="none">
						<ion-label> No Ads </ion-label>
						<ion-label class="value">
							<app-bool-checked [value]="selectedProduct()?.premium_perks.ad_free"></app-bool-checked>
						</ion-label>
					</ion-item>
					<ion-item lines="none">
						<ion-label> Support us </ion-label>
						<ion-label class="value">
							<app-bool-checked [value]="selectedProduct()?.premium_perks.ad_free"></app-bool-checked>
						</ion-label>
					</ion-item>

					<ion-list-header>
						<ion-label>Dashboard</ion-label>
					</ion-list-header>

					<ion-item lines="none">
						<ion-label> Max Dashboards </ion-label>
						<ion-label class="value" slot="end"> {{ selectedProduct()?.premium_perks.validator_dashboards }} </ion-label>
					</ion-item>

					<ion-item lines="none">
						<ion-label> Validators per Dashboard </ion-label>
						<ion-label class="value" slot="end"> {{ selectedProduct()?.premium_perks.validators_per_dashboard }} </ion-label>
					</ion-item>

					<ion-item lines="none">
						<ion-label> Groups per Dashboard </ion-label>
						<ion-label class="value" slot="end"> {{ selectedProduct()?.premium_perks.validator_groups_per_dashboard }} </ion-label>
					</ion-item>

					<ion-item lines="none">
						<ion-label> Share Dashboards </ion-label>

						<ion-label class="value">
							<app-bool-checked [value]="selectedProduct()?.premium_perks.share_custom_dashboards"></app-bool-checked>
						</ion-label>
					</ion-item>

					<ion-item lines="none">
						<ion-label> Bulk Adding </ion-label>

						<ion-label class="value">
							<app-bool-checked [value]="selectedProduct()?.premium_perks.bulk_adding"></app-bool-checked>
						</ion-label>
					</ion-item>

					<ion-list-header>
						<ion-label>Efficiency Chart History</ion-label>
					</ion-list-header>

					<ion-item lines="none">
						<ion-label> Epoch </ion-label>
						<app-bool-checked
							class="value"
							slot="end"
							*ngIf="!selectedProduct()?.premium_perks.chart_history_seconds.epoch"
							[value]="false"></app-bool-checked>
						<ion-label class="value" slot="end" *ngIf="selectedProduct()?.premium_perks.chart_history_seconds.epoch">
							{{ selectedProduct()?.premium_perks.chart_history_seconds.epoch | subSecondsToTime }}
						</ion-label>
					</ion-item>

					<ion-item lines="none">
						<ion-label> Hourly </ion-label>
						<app-bool-checked
							class="value"
							slot="end"
							*ngIf="!selectedProduct()?.premium_perks.chart_history_seconds.hourly"
							[value]="false"></app-bool-checked>
						<ion-label class="value" slot="end" *ngIf="selectedProduct()?.premium_perks.chart_history_seconds.hourly">
							{{ selectedProduct()?.premium_perks.chart_history_seconds.hourly | subSecondsToTime }}
						</ion-label>
					</ion-item>

					<ion-item lines="none">
						<ion-label> Daily </ion-label>
						<app-bool-checked
							class="value"
							slot="end"
							*ngIf="!selectedProduct()?.premium_perks.chart_history_seconds.daily"
							[value]="false"></app-bool-checked>
						<ion-label class="value" slot="end" *ngIf="selectedProduct()?.premium_perks.chart_history_seconds.daily">
							{{ selectedProduct()?.premium_perks.chart_history_seconds.daily | subSecondsToTime }}
						</ion-label>
					</ion-item>

					<ion-item lines="none">
						<ion-label> Weekly </ion-label>
						<app-bool-checked
							class="value"
							slot="end"
							*ngIf="!selectedProduct()?.premium_perks.chart_history_seconds.weekly"
							[value]="false"></app-bool-checked>
						<ion-label class="value" slot="end" *ngIf="selectedProduct()?.premium_perks.chart_history_seconds.weekly">
							{{ selectedProduct()?.premium_perks.chart_history_seconds.weekly | subSecondsToTime }}
						</ion-label>
					</ion-item>

					<ion-list-header>
						<ion-label>App</ion-label>
					</ion-list-header>

					<ion-item lines="none">
						<ion-label> Device Monitoring </ion-label>
						<ion-label class="value"> {{ selectedProduct()?.premium_perks.machine_monitoring_history_seconds | subSecondsToTime }} </ion-label>
					</ion-item>

					<ion-item lines="none">
						<ion-label> Monitoring Setups </ion-label>
						<ion-label class="value" slot="end"> {{ selectedProduct()?.premium_perks.monitor_machines }} </ion-label>
					</ion-item>

					<ion-item lines="none">
						<ion-label> Custom Themes </ion-label>
						<ion-label class="value">
							<app-bool-checked [value]="selectedProduct()?.premium_perks.mobile_app_custom_themes"></app-bool-checked>
						</ion-label>
					</ion-item>

					<ion-item lines="none">
						<ion-label> Widgets <span *ngIf="isiOS">*¹</span> </ion-label>
						<ion-label class="value">
							<app-bool-checked [value]="selectedProduct()?.premium_perks.mobile_app_widget"></app-bool-checked>
						</ion-label>
					</ion-item>
				</ion-list>

				<div class="detail-container" *ngIf="selectedPackage()?.purchaseKey != null">
					<ion-label class="link" (click)="trial()" *ngIf="this.merchant.getUsersSubscription()?.product_id != selectedPackage()?.purchaseKey"
						>Start with a 14 day trial.</ion-label
					>

					<div>
						<ion-button class="purchase-btn" (click)="purchase()" *ngIf="!equalProduct(this.merchant.getUsersSubscription(), selectedPackage())"
							>Subscribe for {{ selectedPackage()?.price }} / month</ion-button
						>
						<ion-button class="purchase-btn" *ngIf="equalProduct(this.merchant.getUsersSubscription(), selectedPackage())" disabled
							>You own this package
						</ion-button>
					</div>

					<ion-label class="grey-link" (click)="restore()">Restore purchase</ion-label>
					<br /><br />

					<span class="hint"
						>After the free trial, you'll be charged the full amount if not canceled. You can cancel the subscription at any time.</span
					>
					<span class="hint" *ngIf="isiOS">*¹ Requires iOS 14 or newer.</span>
				</div>

				<div class="bottomFiller"></div>
			</app-full-page-offline>
		</app-full-page-loading>
	</div>
</ion-content>
