<ion-header>
	<ion-toolbar>
		<ion-buttons slot="start">
			<ion-button (click)="closeModal()">
				<ion-icon size="large" name="close-outline"></ion-icon>
			</ion-button>
		</ion-buttons>
	</ion-toolbar>
</ion-header>

<ion-content [scrollEvents]="true" (ionScroll)="onScroll($event)">
	<ion-list class="status">
		<div lines="none" class="status-container">
			<div class="slide-container">
				<ion-icon class="status-icon" name="ribbon-outline" [ngStyle]="{'opacity': currentY | fadeoutpipe: 75 }"> </ion-icon>
				<br />
				<ion-label class="subtitle" [ngStyle]="{'opacity': currentY | fadeoutpipe: 120 }">Support open source. </ion-label>
			</div>
		</div>
	</ion-list>

	<div class="packages" *ngIf="merchant.PACKAGES.length > 1">
		<div
			*ngFor="let package of merchant.PACKAGES;"
			class="package"
			(click)="selectedPackage = package"
			[class]="selectedPackage == package ? 'packages-selected' : ''">
			<div class="slide-container package-inner">
				<ion-label class="pkg-name">{{ package.name }}</ion-label>
				<br />
				<ion-label>{{ package.price }} / m</ion-label>
			</div>
		</div>
	</div>

	<ion-list class="first-item-group">
		<ion-item lines="none">
			<ion-label> Validators </ion-label>
			<ion-label class="value"> {{ selectedPackage.maxValidators }} </ion-label>
		</ion-item>

		<ion-item lines="none">
			<ion-label> Monitoring Setups </ion-label>
			<ion-label class="value"> {{ selectedPackage.maxBeaconNodes }} </ion-label>
		</ion-item>

		<ion-item lines="none">
			<ion-label> Device Monitoring </ion-label>
			<ion-label class="value">
				last {{ selectedPackage.deviceMonitoringHours < 24 ? selectedPackage.deviceMonitoringHours : selectedPackage.deviceMonitoringHours / 24 }} {{
				selectedPackage.deviceMonitoringHours < 24 ? "hours" : "days" }}
			</ion-label>
		</ion-item>

		<ion-item lines="none">
			<ion-label> Custom Notification </ion-label>
			<ion-label class="value">
				<ion-icon class="check" name="checkmark-outline" *ngIf="selectedPackage.deviceMonitorAlerts"></ion-icon>
				<ion-icon class="nocheck" name="close-outline" *ngIf="!selectedPackage.deviceMonitorAlerts"></ion-icon>
			</ion-label>
		</ion-item>

		<ion-item lines="none">
			<ion-label> No Ads </ion-label>
			<ion-label class="value">
				<ion-icon class="check" name="checkmark-outline" *ngIf="selectedPackage.noAds"></ion-icon>
				<ion-icon class="nocheck" name="close-outline" *ngIf="!selectedPackage.noAds"></ion-icon>
			</ion-label>
		</ion-item>

		<ion-item lines="none">
			<ion-label> Custom Themes </ion-label>
			<ion-label class="value">
				<ion-icon class="check" class="check" name="checkmark-outline" *ngIf="selectedPackage.customTheme"></ion-icon>
				<ion-icon class="nocheck" class="nocheck" name="close-outline" *ngIf="!selectedPackage.customTheme"></ion-icon>
			</ion-label>
		</ion-item>

		<ion-item lines="none">
			<ion-label> Widgets <span *ngIf="isiOS">*¹</span> </ion-label>
			<ion-label class="value">
				<ion-icon class="check" name="checkmark-outline" *ngIf="selectedPackage.widgets"></ion-icon>
				<ion-icon class="nocheck" name="close-outline" *ngIf="!selectedPackage.widgets"></ion-icon>
			</ion-label>
		</ion-item>

		<ion-item lines="none">
			<ion-label> Support us </ion-label>

			<ion-label class="value">
				<ion-icon class="check" name="checkmark-outline" *ngIf="selectedPackage.supportUs"></ion-icon>
				<ion-icon class="nocheck" name="close-outline" *ngIf="!selectedPackage.supportUs"></ion-icon>
			</ion-label>
		</ion-item>
	</ion-list>

	<div class="detail-container" *ngIf="selectedPackage.purchaseKey != null">
		<ion-label class="link" (click)="trial()" *ngIf="activeUserPackageName != selectedPackage.purchaseKey">Start with a 14 day trial.</ion-label>

		<div>
			<ion-button class="purchase-btn" (click)="purchase()" *ngIf="activeUserPackageName != selectedPackage.purchaseKey"
				>Subscribe for {{ selectedPackage.price }} / month</ion-button
			>
			<ion-button class="purchase-btn" *ngIf="activeUserPackageName == selectedPackage.purchaseKey" disabled>You own this package </ion-button>
		</div>

		<ion-label class="grey-link" (click)="restore()">Restore purchase</ion-label>
		<br /><br />

		<span class="hint">After the free trial, you'll be charged the full amount if not canceled. You can cancel the subscription at any time.</span>
		<span class="hint" *ngIf="isiOS">*¹ Requires iOS 14 or newer.</span>
	</div>

	<div class="bottomFiller"></div>
</ion-content>
