<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-button (click)="closeModal()">
        <ion-icon size="large" name="close-outline"></ion-icon>
      </ion-button>
    </ion-buttons>
    <ion-title>Upgrade</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-slides pager="false" [options]="slideOpts">

        <ion-slide >
          <h2>Hi</h2>
        </ion-slide>

        <ion-slide >
          <h2>Ho</h2>
        </ion-slide>
    
</ion-slides>

<ul>
  <li>300 Validators</li>
  <li>10 Beacon nodes monitoring</li>
  <li>Monitor history for 30 days</li>
  <li>Monitor notifications</li>
  <li>Get upcoming premium features for free</li>
</ul>

<div class="detail-container">

  <ion-button>Subscribe for 24.99$ / month</ion-button>
</div>


</ion-content>
