@import '../../../theme/variables.scss';

.purchase-btn {
	--border-radius: var(--button-border-radius);
	text-transform: none;
	width: 70%;
	margin-top: 25px;
	margin-bottom: 25px;
	font-weight: bold !important;
	font-size: 1em !important;
	height: 44px;
	--background: var(--button-bg-image);
	// font-family: "Varela";
	// --font-family: "Varela";
}

ion-content {
	background-color: var(--background-color);
}

.detail-container {
	padding-top: 15px;
	padding-bottom: 38px;
	text-align: center;
	background-color: var(--background-color);
}

.status {
	text-align: center;
	background-color: var(--ion-toolbar-background);
	background-image: var(--status-bg-image);
	padding-bottom: 0px;
}

.packages {
}

.first-item-group {
	padding-top: 6px;
}

.packages-selected {
	background-color: var(--x-update-messages-background-selected) !important;
}

h1,
h2 {
	color: var(--x-toolbar-title-color);
}

.status-icon {
	margin-bottom: 12px;
	font-size: 60px;
	color: var(--x-toolbar-title-color);
}

.center {
	width: 100%;
	display: flex;
	justify-content: center;
}

.line-break {
	width: 100%;
}

.slide-container {
	display: block;
	padding-bottom: 22px;
}

ion-label {
	color: var(--x-toolbar-title-color);
}

.package {
	width: 25%;
	text-align: center;
	display: inline-block;

	background-color: var(--x-update-messages-background);

	height: 74px;
}

.package-inner {
	margin-top: 0.68em;
	height: 30px;
}

.pkg-name {
	font-size: 1.15em;
}

.slide-container {
	margin-bottom: 6px;
}
.value {
	text-align: end;
	font-weight: bold !important;
	font-size: 1.05em !important;
}

.link {
	color: var(--ion-color-primary);
	font-weight: bold;
}

.grey-link {
	color: var(--ion-text-color-secondary);
	font-weight: bold;
}

ion-list {
	padding-top: 0px !important;
}

.subtitle {
	font-size: 0.95em;
	margin-left: 15px;
	margin-right: 15px;
}

.hint {
	display: inline-block;
	color: var(--ion-text-color-secondary);
	max-width: 80%;

	font-size: 0.86em;
	font-style: italic;
	line-height: 1em !important;
}

.check {
	color: var(--ion-color-success);
}

.nocheck {
	color: var(--ion-color-danger);
}

// Makes the iOS top bounce in our primary color
// and the bottom bounce in main themes color
ion-content {
	--background: linear-gradient(0deg, var(--ion-background-color) 65%, var(--ion-toolbar-background) 35%);
}

@media only screen and (max-width: 380px) {
	.purchase-btn {
		width: 85%;
	}
	.pkg-name {
		font-size: 1.05em;
	}
}
