# Specifies intentionally untracked files to ignore when using Git
# http://git-scm.com/docs/gitignore

*~
*.sw[mnpcod]
.tmp
*.tmp
*.tmp.*
*.sublime-project
*.sublime-workspace
.DS_Store
Thumbs.db
UserInterfaceState.xcuserstate
$RECYCLE.BIN/
.angular
.env
bundle*.zip

*.log
log.txt
npm-debug.log*

/.idea
/.ionic
/.sass-cache
/.sourcemaps
/.versions
/.vscode
/coverage
/dist
/node_modules
/platforms
/plugins
/www
/www-sourcemap
/android/app/src/prod/google-services.json
/android/app/src/beta/google-services.json
/ios/App/GoogleService-Info.plist
/appassets
/android/.idea
android/.idea/jarRepositories.xml
android/.idea/misc.xml
/src/environments/environment.prod.ts
ios/GoogleService-Info.plist
/tmp
/local_env