<ion-header>
	<ion-toolbar>
		<ion-buttons slot="end">
			<ion-button (click)="switchCurrencyPipe()" *ngIf="(unit.pref != 'ETHER' && unit.pref != 'FINNEY') || classReference.currencyPipe != null ">
				<ion-icon size="small" name="swap-vertical-outline"></ion-icon>
			</ion-button>
		</ion-buttons>
		<ion-title>Blocks</ion-title>
	</ion-toolbar>

	<ion-item class="top-bar" [class]="fadeIn">
		<ion-label
			>Proposal Luck:
			<span *ngIf="luck && luck.luckPercentage" [class]="luck.luckPercentage | valuestyle: 1">{{ luck.luckPercentage*100 | number:'1.0-1' }}%</span>
			<span *ngIf="!luck">-</span>
		</ion-label>

		<ion-icon class="opacity-icon" slot="end" name="help-circle-outline" (click)="luckHelp()"></ion-icon>
	</ion-item>
</ion-header>

<ion-content [fullscreen]="true" role="feed">
	<ion-refresher slot="fixed" (ionRefresh)="doRefresh($event)">
		<ion-refresher-content></ion-refresher-content>
	</ion-refresher>

	<p class="next-block-hint" *ngIf="luck && luck.nextBlockEstimate">
		<span *ngIf="!(luck.nextBlockEstimate | timeago).includes('ago')">On average next block expected in</span>
		<span *ngIf="(luck.nextBlockEstimate| timeago).includes('ago')">On average next block was expected</span>
		<br />
		<span style="font-style: normal">~{{ luck.nextBlockEstimate | timeago }} </span>
	</p>

	<app-ad location="blocks" *ngIf="items && items.length > 0 && !loading"></app-ad>

	<ion-virtual-scroll [items]="items" approxItemHeight="125px" [itemHeight]="itemHeightFn" *ngIf="items && items.length > 0 && !loading">
		<div *virtualItem="let item; let idx = index;" style="background-color: var(--ion-card-background)">
			<app-block [block]="item" (click)="clickBlock(item)" role="article"></app-block>
		</div>
	</ion-virtual-scroll>
	<ion-infinite-scroll (ionInfinite)="loadData($event)">
		<ion-infinite-scroll-content loadingSpinner="bubbles" loadingText="Loading more blocks..."></ion-infinite-scroll-content>
	</ion-infinite-scroll>

	<div class="nothingfound" *ngIf="items && items.length <= 0 && !loading && initialized">
		<ion-icon name="telescope-outline"></ion-icon>
		<h2>No Blocks so far</h2>
		<ion-label>Your proposed blocks will show up here.</ion-label>
	</div>

	<div id="container" *ngIf="loading && !initialized" class="fadein fadeout">
		<div class="center">
			<ion-spinner class="status-icon loading-spinner"></ion-spinner>
		</div>
	</div>
</ion-content>
