<ion-header>
	<ion-toolbar class="top">
		<ion-buttons slot="start" class="modal-buttons">
			<ion-button (click)="closeModal()">
				<ion-icon size="large" name="close-outline"></ion-icon>
			</ion-button>
		</ion-buttons>
		<span [ngSwitch]="clientIdentifier">
			<span *ngSwitchCase="'eth1Clients'">
				<ion-title>Excecution</ion-title>
			</span>
			<span *ngSwitchCase="'eth2Clients'">
				<ion-title>Consensus</ion-title>
			</span>
			<span *ngSwitchCase="'3rdparty'">
				<ion-title>Other</ion-title>
			</span>
		</span>
	</ion-toolbar>
</ion-header>

<ion-content>
	<app-full-page-loading [loading]="loading()">
		<app-full-page-offline (retry)="this.doRefresh(true)" [online]="online()">
			<ion-list-header>
				<ion-label>Show me updates for</ion-label>
			</ion-list-header>

			<ion-list>
				<ion-item lines="none" *ngFor="let client of clients">
					<ion-icon class="opacity-icon" slot="start" name="cube-outline"></ion-icon>
					<ion-toggle
						checked
						id="clientToggle"
						[ngModel]="notificationBase.clientUpdatesTogglesMap.get(client.key)()"
						(ngModelChange)="notificationBase.setClientToggleState(client.key, $event)"
						(ionChange)="notificationBase.clientUpdateOnToggle(client.key)"
						labelPlacement="start"
						justify="space-between"
						>{{client.name}}</ion-toggle
					>
				</ion-item>
			</ion-list>

			<div class="bottomFiller"></div>
		</app-full-page-offline>
	</app-full-page-loading>
</ion-content>
