<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-button (click)="closeModal()">
        <ion-icon size="large" name="close-outline"></ion-icon>
      </ion-button>
    </ion-buttons>
    <span [ngSwitch]="clientIdentifier">
      <span *ngSwitchCase="'eth1Clients'">
        <ion-title>Excecution Clients</ion-title>
      </span>
      <span *ngSwitchCase="'eth2Clients'">
        <ion-title>Consensus Clients</ion-title>
      </span>
    </span>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-list-header>
    <ion-label>Show me updates for</ion-label>
  </ion-list-header>
  <span [ngSwitch]="clientIdentifier">
    <span *ngSwitchCase="'eth1Clients'">
      <ion-list>
        <ion-item lines="none">
          <ion-icon class="opacity-icon" slot="start" name="cube-outline"></ion-icon>
          <ion-label>Besu</ion-label>
          <ion-toggle [(ngModel)]="toggleStateBesu" (ionChange)="toggleClient('BESU', $event)" slot="end"></ion-toggle>
        </ion-item>
        <ion-item lines="none">
          <ion-icon class="opacity-icon" slot="start" name="cube-outline"></ion-icon>
          <ion-label>Erigon</ion-label>
          <ion-toggle [(ngModel)]="toggleStateErigon" (ionChange)="toggleClient('ERIGON', $event)" slot="end"></ion-toggle>
        </ion-item>      
        <ion-item lines="none">
          <ion-icon class="opacity-icon" slot="start" name="cube-outline"></ion-icon>
          <ion-label>Geth</ion-label>
          <ion-toggle [(ngModel)]="toggleStateGeth" (ionChange)="toggleClient('GETH', $event)" slot="end"></ion-toggle>
        </ion-item>
        <ion-item lines="none">
          <ion-icon class="opacity-icon" slot="start" name="cube-outline"></ion-icon>
          <ion-label>Nethermind</ion-label>
          <ion-toggle [(ngModel)]="toggleStateNethermind" (ionChange)="toggleClient('NETHERMIND', $event)" slot="end"></ion-toggle>
        </ion-item>
      </ion-list>
    </span>
    <span *ngSwitchCase="'eth2Clients'">
      <ion-list>
        <ion-item lines="none">
          <ion-icon class="opacity-icon" slot="start" name="bonfire-outline"></ion-icon>
          <ion-label>Lighthouse</ion-label>
          <ion-toggle [(ngModel)]="toggleStateLighthouse" (ionChange)="toggleClient('LIGHTHOUSE', $event)" slot="end"></ion-toggle>
        </ion-item>
        <ion-item lines="none">
          <ion-icon class="opacity-icon" slot="start" name="bonfire-outline"></ion-icon>
          <ion-label>Lodestar</ion-label>
          <ion-toggle [(ngModel)]="toggleStateLodestar" (ionChange)="toggleClient('LODESTAR', $event)" slot="end"></ion-toggle>
        </ion-item>
        <ion-item lines="none">
          <ion-icon class="opacity-icon" slot="start" name="bonfire-outline"></ion-icon>
          <ion-label>Nimbus</ion-label>
          <ion-toggle [(ngModel)]="toggleStateNimbus" (ionChange)="toggleClient('NIMBUS', $event)" slot="end"></ion-toggle>
        </ion-item>
        <ion-item lines="none">
          <ion-icon class="opacity-icon" slot="start" name="bonfire-outline"></ion-icon>
          <ion-label>Prysm</ion-label>
          <ion-toggle [(ngModel)]="toggleStatePrysm" (ionChange)="toggleClient('PRYSM', $event)" slot="end"></ion-toggle>
        </ion-item>
        <ion-item lines="none">
          <ion-icon class="opacity-icon" slot="start" name="bonfire-outline"></ion-icon>
          <ion-label>Teku</ion-label>
          <ion-toggle [(ngModel)]="toggleStateTeku" (ionChange)="toggleClient('TEKU', $event)" slot="end"></ion-toggle>
        </ion-item>
      </ion-list>
    </span>
  </span>
  <div class="bottomFiller"></div>
</ion-content>