<div class="slot-grid">
	<ion-list-header>
		<ion-label id="epoch-title" (click)="openEpochInWeb()">
			{{ epochDescriptive() }} <small>{{ epoch }}</small>
		</ion-label>
	</ion-list-header>
	<div
		class="row"
		*ngFor="let row of rows; let rowIndex = index"
		[style.margin-bottom.px]="margin"
		[style.padding-left.px]="edgePadding"
		[style.padding-right.px]="edgePadding">
		<div
			class="square"
			[ngClass]="slotMap().get(slot.slot).squareCss"
			[@bgColorAnim]="slotMap().get(slot.slot).color"
			[@blink]="(slot.slot <= slotViz.currentSlot() && slot.status === 'scheduled') ? blinkState : 'off'"
			*ngFor="let slot of row; trackBy: trackBySlot"
			[style.width.px]="squareSize"
			[style.height.px]="squareSize"
			[style.margin-right.px]="margin"
			(click)="onSquareClick(slot, $event)">
			<ion-icon
				class="smallicon"
				[hidden]="slotMap().get(slot.slot).smallIcon === 'nothing'"
				[name]="slotMap().get(slot.slot).smallIcon"
				[style.font-size.px]="squareSize * 0.28">
			</ion-icon>
			<ion-icon
				[class.bigicon]="slotMap().get(slot.slot).smallIcon !== 'nothing'"
				[hidden]="slotMap().get(slot.slot).bigIcon === 'nothing'"
				[name]="slotMap().get(slot.slot).bigIcon"
				[style.font-size.px]="squareSize * 0.43">
			</ion-icon>
		</div>
	</div>
</div>
