<ion-header>
    <ion-toolbar>
        <ion-buttons slot="start">
            <ion-icon size="large" name="close-outline" (click)="cancel()"></ion-icon>
        </ion-buttons>
        <ion-title>Manage</ion-title>
    </ion-toolbar>
    <ion-item class="top-bar">
        <ion-label>My Dashboards <span style="padding-left: 5px; opacity: 0.7">{{ dashboards() ? dashboards().validator_dashboards.length : '-' }} / {{ maxAllowedDashboards() }} </span></ion-label>
        <ion-icon class="opacity-icon" slot="end" name="add-circle-outline" id="add-dashboard"></ion-icon>
    </ion-item>
    <ion-popover trigger="add-dashboard" triggerAction="click" [dismissOnSelect]="true">
        <ng-template>
            <ion-content>
                <ion-list>
                    <ion-item [button]="true" [detail]="false" (click)="addDashboard('ethereum')">Add Ethereum Dashboard</ion-item>
                    <ion-item [button]="true" [detail]="false" (click)="addDashboard('gnosis')">Add Gnosis Dashboard</ion-item>
                    <ion-item [button]="true" [detail]="false" (click)="addDashboard('holesky')">Add Holesky Dashboard</ion-item>
                </ion-list>
            </ion-content>
        </ng-template>
    </ion-popover>
</ion-header>
<ion-content>

    <app-dashboard-item *ngFor="let item of dashboards()?.validator_dashboards" [data]="item"
        [defaultDashboard]="defaultDashboard" (refresh)="init(false)"></app-dashboard-item>
    <!-- (click)="selectItem(item)" -->

    <div style="padding-top:20px;" *ngIf="!dashboards()" class="fadein fadeout">
        <div class="center">
            <ion-spinner class="status-icon loading-spinner"></ion-spinner>
        </div>
    </div>
</ion-content>