<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-button (click)="closeModal()">
        <ion-icon size="large" name="close-outline"></ion-icon>
      </ion-button>
    </ion-buttons>
    <ion-title>{{ key }}</ion-title>
  </ion-toolbar>
  <ion-segment [(ngModel)]="selectedTab" mode="md" scrollable="true">
    <ion-segment-button value="cpu" [disabled]="scrolling"
      [class]="selectedTab == 'cpu' ? 'segment-button-checked' : ''">
      <ion-label>CPU</ion-label>
    </ion-segment-button>
    <ion-segment-button value="memory" [disabled]="scrolling">
      <ion-label [class]="selectedTab == 'memory' ? 'segment-button-checked' : ''">Memory</ion-label>
    </ion-segment-button>
    <ion-segment-button value="network" [disabled]="scrolling"
      [class]="selectedTab == 'network' ? 'segment-button-checked' : ''">
      <ion-label>Network</ion-label>
    </ion-segment-button>
    <ion-segment-button value="disk" [disabled]="scrolling"
      [class]="selectedTab == 'disk' ? 'segment-button-checked' : ''">
      <ion-label>Disk</ion-label>
    </ion-segment-button>
    <ion-segment-button value="sync" [disabled]="scrolling"
      [class]="selectedTab == 'sync' ? 'segment-button-checked' : ''">
      <ion-label>Sync</ion-label>
    </ion-segment-button>
    <ion-segment-button value="gen" [disabled]="scrolling"
      [class]="selectedTab == 'gen' ? 'segment-button-checked' : ''">
      <ion-label>General</ion-label>
    </ion-segment-button>
  </ion-segment>
</ion-header>

<ion-content [fullscreen]="true" [scrollEvents]="true" (ionScrollStart)="onScrollStarted()"
  (ionScrollEnd)="onScrollEnded()">

  <div id="cpu" [hidden]="selectedTab != 'cpu'" class="data-container">
    <app-machinechart [hidden]="selectedTab != 'cpu'" title="CPU Processes" [key]="key" priority="true"
      [chartData]="data | delegate: cpuDelegate">
    </app-machinechart>

    <app-machinechart title="CPU System" [key]="key" [chartData]="data | delegate: cpuSystemDelegate" priority="true">
    </app-machinechart>
  </div>

  <div id="memory" [hidden]="selectedTab != 'memory'" class="data-container">
    <app-machinechart title="Memory Processes" [key]="key" [chartData]="data | delegate: memoryDelegate">
    </app-machinechart>

    <app-machinechart title="Memory System" [key]="key" [chartData]="data | delegate: memorySystemDelegate">
    </app-machinechart>
  </div>

  <div id="network" [hidden]="selectedTab != 'network'" class="data-container">
    <app-machinechart title="Network" [key]="key" [chartData]="data | delegate: networkDelegate">
    </app-machinechart>

    <app-machinechart title="Peers" [key]="key" [chartData]="data | delegate: peerDelegate">
    </app-machinechart>
  </div>

  <div id="disk" [hidden]="selectedTab != 'disk'" class="data-container">
    <app-machinechart title="Disk" [key]="key" [chartData]="data | delegate: diskDelegate">
    </app-machinechart>

    <app-machinechart title="Disk Usage" [key]="key" [chartData]="data | delegate: diskIoDelegate">
    </app-machinechart>

    <app-machinechart title="Beaconchain" [key]="key" [chartData]="data | delegate: beaconchainSizeDelegate">
    </app-machinechart>
  </div>

  <div id="sync" [hidden]="selectedTab != 'sync'" class="data-container">
    <app-machinechart title="Sync State" [key]="key" [chartData]="data | delegate: syncDelegate">
    </app-machinechart>

    <app-machinechart title="Validators" [key]="key" [chartData]="data | delegate: validatorDelegate">
    </app-machinechart>
  </div>

  <div id="gen" [hidden]="selectedTab != 'gen'" class="performances" class="data-container">

    <ion-list>
      <ion-item lines="none">

        <ion-label>
          CPU Cores
        </ion-label>
        <ion-label class="value">
          {{ coreCount }}
        </ion-label>

      </ion-item>

      <ion-item lines="none">

        <ion-label>
          CPU Threads
        </ion-label>
        <ion-label class="value">
          {{ threadCount }}
        </ion-label>

      </ion-item>
    </ion-list>


    <ion-list>
      <ion-item lines="none">

        <ion-label>
          OS
        </ion-label>
        <ion-label class="value">
          {{ os }}
        </ion-label>

      </ion-item>

      <ion-item lines="none">
        <ion-label>
          <span>
            Uptime
          </span>
        </ion-label>
        <ion-label class="value">
          {{ uptime | date:'MMM d, y, h:mm a' }}
        </ion-label>

      </ion-item>
    </ion-list>



    <ion-list>

      <ion-item lines="none">

        <ion-label>
          Client
        </ion-label>
        <ion-label class="value">
          {{ data.client }}
        </ion-label>

      </ion-item>


      <ion-item lines="none">
        <ion-label>
          Version
        </ion-label>
        <ion-label class="value">
          {{ data.clientVersion }}
        </ion-label>

      </ion-item>

    </ion-list>

    <ion-list>

      <ion-item lines="none">
        <ion-label>
          <span>
            Head Slot
          </span>
        </ion-label>
        <ion-label class="value">
          {{ headslot }}
        </ion-label>

      </ion-item>

      <ion-item lines="none">
        <ion-label>
          <span>
            Status
          </span>
        </ion-label>
        <ion-label class="value">
          {{ stateSynced }}
        </ion-label>

      </ion-item>

      <ion-item lines="none">
        <ion-label>
          <span>
            Last update
          </span>
        </ion-label>
        <ion-label class="value">
          {{ data.formattedDate | date:'MMM d, y, h:mm a' }}
        </ion-label>

      </ion-item>
    </ion-list>

  </div>

</ion-content>