<ion-header>
	<ion-toolbar>
		<ion-buttons slot="start">
			<ion-back-button defaultHref="/tabs/preferences"></ion-back-button>
		</ion-buttons>
		<ion-title>Dev</ion-title>
	</ion-toolbar>
</ion-header>

<ion-content>
	<ion-list-header>
		<ion-label>v2</ion-label>
	</ion-list-header>

	<ion-list>
		<ion-item lines="none">
			<ion-icon class="opacity-icon" slot="start" name="bug-outline"></ion-icon>
			<ion-toggle [(ngModel)]="usev2api" (ionChange)="changeToV2Api()" labelPlacement="start" justify="space-between">Use v2 api</ion-toggle>
		</ion-item>

		<ion-item lines="none" (click)="testv2()">
			<ion-icon class="opacity-icon" slot="start" name="bug-outline"></ion-icon>
			<ion-label>v2 login</ion-label>
		</ion-item>
		<ion-item lines="none" (click)="equivalentExchange()">
			<ion-icon class="opacity-icon" slot="start" name="bug-outline"></ion-icon>
			<ion-label>equivalent exchange</ion-label>
		</ion-item>

		<ion-item lines="none" (click)="registerV2Push()">
			<ion-icon class="opacity-icon" slot="start" name="bug-outline"></ion-icon>
			<ion-label>Register Push</ion-label>
		</ion-item>

		<ion-item lines="none" (click)="getMyDashboards()">
			<ion-icon class="opacity-icon" slot="start" name="bug-outline"></ion-icon>
			<ion-label>My Dashboards</ion-label>
		</ion-item>

		<ion-item lines="none">
			<ion-icon class="opacity-icon" slot="start" name="bug-outline"></ion-icon>
			<ion-toggle [(ngModel)]="allowHttp" (ionChange)="changeAllowHttp()" labelPlacement="start" justify="space-between">Allow http</ion-toggle>
		</ion-item>
	</ion-list>

	<ion-list-header>
		<ion-label>General</ion-label>
	</ion-list-header>

	<ion-list>
		<ion-item lines="none" (click)="forceSync()">
			<ion-icon class="opacity-icon" slot="start" name="bug-outline"></ion-icon>
			<ion-label>Force sync</ion-label>
		</ion-item>

		<ion-item lines="none" (click)="clearSyncQueue()">
			<ion-icon class="opacity-icon" slot="start" name="bug-outline"></ion-icon>
			<ion-label>Clear sync queue</ion-label>
		</ion-item>

		<ion-item lines="none" (click)="permanentDevMode()">
			<ion-icon class="opacity-icon" slot="start" name="bug-outline"></ion-icon>
			<ion-label>Make dev mode permanent</ion-label>
		</ion-item>

		<ion-item lines="none" (click)="clearApiCache()">
			<ion-icon class="opacity-icon" slot="start" name="bug-outline"></ion-icon>
			<ion-label>Clear API cache</ion-label>
		</ion-item>

		<ion-item lines="none" (click)="outdateLastClosedForClients()">
			<ion-icon class="opacity-icon" slot="start" name="bug-outline"></ion-icon>
			<ion-label>Set "Last Closed" to 0 for all clients</ion-label>
		</ion-item>

		<ion-item lines="none">
			<ion-icon class="opacity-icon" slot="start" name="bug-outline"></ion-icon>
			<ion-select label="Override Premium" value="" [(ngModel)]="packageOverride" (ionChange)="changePackage()" interface="popover">
				<ion-select-option value="default"> Use real package </ion-select-option>
				<ion-select-option value="standard"> standard </ion-select-option>
				<ion-select-option value="plankton"> plankton </ion-select-option>
				<ion-select-option value="goldfish"> Goldfish </ion-select-option>
				<ion-select-option value="whale"> Whale </ion-select-option>
			</ion-select>
		</ion-item>

		<ion-list-header>
			<ion-label>Auth User</ion-label>
		</ion-list-header>

		<ion-item lines="none" (click)="changeSession()">
			<ion-icon class="opacity-icon" slot="start" name="bug-outline"></ion-icon>
			<ion-label>Manually edit v2 session</ion-label>
		</ion-item>

		<ion-item style="opacity: 0.7" lines="none" (click)="changeAccessToken()">
			<ion-icon class="opacity-icon" slot="start" name="bug-outline"></ion-icon>
			<ion-label>Manually edit access token (depr)</ion-label>
		</ion-item>

		<ion-item lines="none" (click)="backupAuthUser()">
			<ion-icon class="opacity-icon" slot="start" name="bug-outline"></ion-icon>
			<ion-label>Backup Auth User</ion-label>
		</ion-item>

		<ion-item lines="none" (click)="restoreAuthUser()">
			<ion-icon class="opacity-icon" slot="start" name="bug-outline"></ion-icon>
			<ion-label>Restore Auth User</ion-label>
		</ion-item>

		<ion-item lines="none" (click)="forceTokenRefresh()">
			<ion-icon class="opacity-icon" slot="start" name="bug-outline"></ion-icon>
			<ion-label>Refresh Token</ion-label>
		</ion-item>

		<ion-list-header>
			<ion-label>UI Tests</ion-label>
		</ion-list-header>

		<ion-item lines="none" (click)="triggerToggleTest()">
			<ion-icon class="opacity-icon" slot="start" name="bug-outline"></ion-icon>
			<ion-label>Toggle init</ion-label>
		</ion-item>

		<ion-item lines="none">
			<ion-icon class="opacity-icon" slot="start" name="bug-outline"></ion-icon>
			<ion-toggle [(ngModel)]="toggleTest" (ionChange)="toggleTestChange()" labelPlacement="start" justify="space-between">Toggle test</ion-toggle>
		</ion-item>

		<ion-item lines="none" (click)="confetti()">
			<ion-icon class="opacity-icon" slot="start" name="bug-outline"></ion-icon>
			<ion-label>Confetti</ion-label>
		</ion-item>

		<ion-list-header>
			<ion-label>Other</ion-label>
		</ion-list-header>

		<ion-item lines="none" (click)="restartApp()">
			<ion-icon class="opacity-icon" slot="start" name="bug-outline"></ion-icon>
			<ion-label>Restart App</ion-label>
		</ion-item>

		<ion-item lines="none" (click)="clearStorage()">
			<ion-icon class="opacity-icon" slot="start" name="bug-outline"></ion-icon>
			<ion-label>Clear storage</ion-label>
		</ion-item>
	</ion-list>

	<ion-list-header>
		<ion-label>Firebase</ion-label>
	</ion-list-header>

	<ion-item lines="none" (click)="updateFirebaseToken()">
		<ion-icon class="opacity-icon" slot="start" name="bug-outline"></ion-icon>
		<ion-label>Update firebase token</ion-label>
	</ion-item>

	<ion-item lines="none" (click)="triggerNotificationConsent()">
		<ion-icon class="opacity-icon" slot="start" name="bug-outline"></ion-icon>
		<ion-label>Notification Consent</ion-label>
	</ion-item>

	<ion-item lines="none" (click)="resetLastFirebaseToken()">
		<ion-icon class="opacity-icon" slot="start" name="bug-outline"></ion-icon>
		<ion-label>Reset saved firebase token</ion-label>
	</ion-item>

	<ion-item lines="none">
		<p>Notification Consent: {{ notificationConsent }}</p>
	</ion-item>

	<ion-item lines="none">
		<p>Firebase Token: {{ firebaseToken }}</p>
	</ion-item>

	<ion-item lines="none">
		<p>Device ID: {{ deviceID }}</p>
	</ion-item>

	<ion-list-header>
		<ion-label>Logs</ion-label>
	</ion-list-header>
	<ion-item lines="none" (click)="openLogSession(0)">
		<ion-icon class="opacity-icon" slot="start" name="bug-outline"></ion-icon>
		<ion-label>Current</ion-label>
	</ion-item>
	<ion-item lines="none" (click)="openLogSession(1)">
		<ion-icon class="opacity-icon" slot="start" name="bug-outline"></ion-icon>
		<ion-label>Current - 1</ion-label>
	</ion-item>
	<ion-item lines="none" (click)="openLogSession(2)">
		<ion-icon class="opacity-icon" slot="start" name="bug-outline"></ion-icon>
		<ion-label>Current - 2</ion-label>
	</ion-item>

	<div class="bottomFiller"></div>
</ion-content>
