<ion-header>
  <ion-toolbar>
      <ion-buttons slot="start">
        <ion-back-button defaultHref="/tabs/preferences"></ion-back-button>
      </ion-buttons>
    <ion-title>Dev</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-list>

    <ion-item lines="none" (click)="forceSync()">
      <ion-icon slot="start" name="bug-outline"></ion-icon>
      <ion-label>Force sync</ion-label>
    </ion-item>

    <ion-item lines="none" (click)="updateFirebaseToken()">
      <ion-icon slot="start" name="bug-outline"></ion-icon>
      <ion-label>Update firebase token</ion-label>
    </ion-item>

    <ion-item lines="none" (click)="clearSyncQueue()">
      <ion-icon slot="start" name="bug-outline"></ion-icon>
      <ion-label>Clear sync queue</ion-label>
    </ion-item>

    <ion-item lines="none" (click)="changeAccessToken()">
      <ion-icon slot="start" name="bug-outline"></ion-icon>
      <ion-label>Manually edit access token</ion-label>
    </ion-item>

    <ion-item lines="none" (click)="triggerToggleTest()">
      <ion-icon slot="start" name="bug-outline"></ion-icon>
      <ion-label>Toggle init</ion-label>
    </ion-item>

    <ion-item lines="none">
      <ion-icon slot="start" name="bug-outline"></ion-icon>
      <ion-label>Toggle test</ion-label>
      <ion-toggle [(ngModel)]="toggleTest" (ionChange)="toggleTestChange()" slot="end"></ion-toggle>
    </ion-item>

    <ion-item lines="none" (click)="permanentDevMode()">
      <ion-icon slot="start" name="bug-outline"></ion-icon>
      <ion-label>Make dev mode permanent</ion-label>
    </ion-item>

    <ion-item lines="none">
      <ion-icon slot="start" name="bug-outline"></ion-icon>
      <ion-label>
        Override Premium
      </ion-label>
      <ion-select value="" [(ngModel)]="packageOverride" (ionChange)="changePackage()" interface="popover">
        <ion-select-option value="default">
          Use real package
        </ion-select-option>
        <ion-select-option value="standard">
          standard
        </ion-select-option>
        <ion-select-option value="plankton">
          plankton
        </ion-select-option>
        <ion-select-option value="goldfish">
          Goldfish
        </ion-select-option>
        <ion-select-option value="whale">
          Whale
        </ion-select-option>
      </ion-select>
    </ion-item>

    <ion-item lines="none" (click)="restartApp()">
      <ion-icon slot="start" name="bug-outline"></ion-icon>
      <ion-label>Restart App</ion-label>
    </ion-item>

    <ion-item lines="none" (click)="clearStorage()">
      <ion-icon slot="start" name="bug-outline"></ion-icon>
      <ion-label>Clear storage</ion-label>
    </ion-item>


  </ion-list>

  <ion-list-header>
    <ion-label>Firebase Token:</ion-label>
  </ion-list-header>
  <p>{{ firebaseToken }}</p>

  <br/>

</ion-content>
