<div class="infi-item-container" [ngClass]="{ 'infi-item-first': first }">
	<div class="inner">
		<ion-item lines="none">
			<div slot="start" class="start">
				<img class="blockie" src="{{ imgData }}" />
			</div>

			<div class="infi-item-middle-container" [ngStyle]="{ 'padding-bottom': extraName ? '8px' : '0px' }">
				<ion-text class="title">{{ titlePrefix }} <span [innerHTML]="title"></span></ion-text>
				<ion-label class="smaller-info smaller-pad">
					<span *ngIf="extraName">{{ extraName }}: </span> <span [innerHTML]="extra"></span>
				</ion-label>
			</div>
		</ion-item>
	</div>
</div>
<div [ngClass]="{ 'infi-item-last-padding': last }"></div>
