@import '../../../theme/variables.scss';

.dashboard-card {
	background-color: var(--ion-item-background);
}

.selected ion-label {
	//color: var(--ion-color-primary);
}

ion-badge {
	--padding-end: 8px;
	--padding-start: 8px;
	--padding-top: 6px;
	--padding-bottom: 6px;
}

.ethereum {
	--background: #497493;
}

.gnosis {
	--background: #3e6957;
}

.holesky {
	--background: #8695a0;
}

.star {
	color: var(--ion-color-primary);
}

.opac-star {
	opacity: 0.35;
}

.network {
	//font-size: small;
}

.maxed {
	color: var(--ion-color-danger) !important;
}

.stat-count {
	font-weight: bold;
}

.action {
	// height: 25px;
	// width: 25px;
	font-size: 23px;
}

.badge {
	padding: 21px 10px;
}