name: Build

on:
  push:
    branches:
      - main
  pull_request:
    branches:
      - '*'

jobs:
  build:
    name: Build
    runs-on: ubuntu-latest
    strategy:
      matrix:
        node-version: [10.x]
    steps:

      - name: Check out code
        uses: actions/checkout@v2

      - name: Use Node.js
        uses: actions/setup-node@v1
        with:
          node-version: ${{ matrix.node-version }}

      - name: Cache node modules
        uses: actions/cache@v2
        env:
          cache-name: cache-node-modules
        with:
          path: '**/node_modules'
          key: build-${{ checksum 'package-lock.json' }}
          restore-keys: |
            build-
    
      - name: Dependency install
        run: |
         npm install @ionic/cli@6.12.4 native-run@1.3.0 cordova-res@0.15.3 @angular/cli@11.0.7
         npm install
   
      - name: Build
        run: |
          ./node_modules/@ionic/cli/bin/ionic build --prod --release
     
      #- name: Test
      #  run: ./node_modules/@angular/cli/bin/ng test
